<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
 		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
        <title>FAQ</title>
        <link rel="stylesheet" href="<%= process.env.BASE_URL %>public/assets/web_view/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= process.env.BASE_URL %>public/assets/web_view/css/style.css">
        <link rel="stylesheet" href="<%= process.env.BASE_URL %>public/assets/web_view/css/responsive.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer">
    </head>

    <body>
        <section>
            <div class="container">
                <div class="box">
                    <img class="logo" src="<%= process.env.BASE_URL %>public/assets/web_view/img/Duud-logo.png">
                <div class="row">
                    <div class="col-md-12 text-center">
                        <h1>FAQ</h1>
                    </div>
                    <div class="col-md-12">
                        <div class="question-box">
                            <h4>Lorem ipsum dummy text?</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos temporibus exercitationem blanditiis adipisci dolorem consectetur rerum deleniti assumenda porro. Modi consectetur id rem, illo exercitationem qui aspernatur facere assumenda.</p>
                        </div>
                        <div class="question-box">
                            <h4>Lorem ipsum dummy text?</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos temporibus exercitationem blanditiis adipisci dolorem consectetur rerum deleniti assumenda porro. Modi consectetur id rem, illo exercitationem qui aspernatur facere assumenda.</p>
                        </div>
                        <div class="question-box">
                            <h4>Lorem ipsum dummy text?</h4>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus dignissimos temporibus exercitationem blanditiis adipisci dolorem consectetur rerum deleniti assumenda porro. Modi consectetur id rem, illo exercitationem qui aspernatur facere assumenda.</p>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </section>


        <script src="<%= process.env.BASE_URL %>public/assets/web_view/js/jquery-3.5.1.min.js"></script>
        <script src="<%= process.env.BASE_URL %>public/assets/web_view/js/bootstrap.min.js"></script>
    </body>
</html>